body {
  background-color: white;
}

.display-4 {
  font-size: 2.5rem;
}

.smallfont {
  font-size:1.0rem;
}


.signup {
    background-color: #00CCBB; 
    border: none;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.simple-link a {
    color: #00CCBB;
    text-decoration: none;
}

.center {
  position: absolute;
/*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;  
}



